<h2>Login</h2>
 
<a href="{% url 'index' %}">Home</a> / 
<a href="{% url 'auth/signup' %}">Sign up</a>
 
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
