<h2>Homepage</h2>
 
{% if user.is_authenticated %}
  <p>Hi {{ user.name }}, Welcome to FullPhotosetsAndCollectioneersHub!</p>
  <p><a href="{% url 'auth/logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in!</p>
  <a href="{% url 'auth/login' %}">Log In</a> / 
  <a href="{% url 'auth/signup' %}">Sign Up</a>
{% endif %}
